body {
    font-family: Arial;
    background-color: #0F121E;
    color: #fff;
}


button {
    background-color: #fff;
    color: #000;
}
input {
    font-size: 25px;
}

.container {
    box-sizing: border-box;
    height: 100%;
}

.form_box, .iphone_screen {
    flex-direction: column;
}


.form_box {
    border: 3px solid pink;
    float: left;
}

.enter_data_btn {
    background-color: orange;
}

.get_ss_btn {
    display: block;
    background-color: green;
    color: black;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.iphone_screen {

    opacity: 0;
    
    float: right;
    color: #fff;

    float: right;

    width: 828px;
    height: 1792px;
    box-sizing: border-box;
    background-image: url("bybit_position_WORK.jpg");
    background-position: center;
}

.top_bar {
    height: 65px;
    padding-top: 32px;
    padding-left: 20px;
}
.iphone_time {
    font-size: 30px;
    margin-left: 45px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.position {
    margin-top: 377px;
    height: 925px;
    width: 100%;
    color: #fff;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 66px;
    box-sizing: border-box;
}

.position_header {
    height: 100px;
    box-sizing: border-box;
                }

.position_header_box {
    height: 34px;
    display: flex; 
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 6px;
}

.coin_name {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
}

.longshort {
    display: inline-block;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: blue;
    font-size: 21px;
    margin-left: 8px;
    line-height: 34px;
}

.laverage {
    display: inline-block;
    border-radius: 5px;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 12px;
    background-color: #2A241B;
    color: #F7A619;
    font-size: 20px;
    line-height: 34px;

}

.position_columns {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 23px;
}

.position_left, .position_right {
    box-sizing: border-box;
    float: left;
    flex-direction: column;
 }

.position_left {
    opacity: 0;
    width: 10%;
}

.position_right {
    width: 90%;
}


.position_right > span {
    width: 100%;
    text-align: right;
    font-size: 25px;
    display: block;
    margin-bottom: 27px;
}

.form {
    flex-direction: column;
}

.form > div {
    margin-bottom: 22px;
}



.position_size {
    color: #DC5350;;
}

.liq_price {
    color: orange;
}



.unr_pnl, .unr_pnl_rounded, .r_pnl, .r_pnl_rounded {
    color: #DC5350;
}

.unr_pnl, .r_pnl {
    margin-bottom: 5px !important;
}

.margin {
    margin-top: 106px;
    margin-bottom: 35px !important;
}

.tpsl {
    letter-spacing: 1px;
    padding-right: 35px;
    box-sizing: border-box;
}
.tp {
    color: green;
}
.sl {
    color: red;
}















